.toggle-btn {
    background-color: rgb(92, 107, 102);
    border: 1px solid rgb(92, 107, 102);
    border-radius: 99px;
    width: 50px;
    height: 28px;
    transform: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
    position: relative;
}

.toggle-btn .thumb{
    height: 20px;
    width: 20px;
    background-color: azure;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-btn.toggled {
    background-color:aqua;
}

.toggle-btn.toggled .thumb {
    left: calc(50px - 25px)
}